/*工具栏图标 和 点击工具栏时候的图标*/
i.demo-icon-1 {
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23929292'><g><circle cx='15.2' cy='8.8' r='1.5'/><polygon points='16.7,12.3 16.7,11.7 16.7,11.3 13.7,11.3 13.7,12.3 14.7,12.3 14.7,20.3 13.7,20.3 13.7,21.3 17.7,21.3 17.7,20.3 16.7,20.3'/><path d='M15.2,2.3C8.3,2.3,2.7,7.9,2.7,14.8s5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5S22.1,2.3,15.2,2.3z M15.2,26.3 c-6.3,0-11.5-5.2-11.5-11.5S8.8,3.3,15.2,3.3s11.5,5.2,11.5,11.5S21.5,26.3,15.2,26.3z'/></g></svg>");
}
.active i.demo-icon-1 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 30' fill='%23007aff'><path d='M15,2.6C8.1,2.6,2.5,8.2,2.5,15.1C2.5,22,8.1,27.6,15,27.6S27.5,22,27.5,15.1C27.5,8.2,21.9,2.6,15,2.6z M15,7.6 c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5C13.5,8.3,14.2,7.6,15,7.6z M17.5,21.6h-4v-1h1v-8h-1v-1h3V12 v0.6v8h1V21.6z'/></svg>");
}
i.demo-icon-2 {
    width: 25px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23929292'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.4L5.9,1z M24,16H1V7h7.1 c0.5,1.9,2.3,3.4,4.4,3.4s3.9-1.5,4.4-3.4H24V16z'/></svg>");
}
.active i.demo-icon-2 {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23007aff'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.3L5.9,1z'/></svg>");
}

/*重置列表页面样式*/
/*重置框架样式*/
.list-block.media-list .item-link .item-title-row {
    background-image: none;
}

/*无限加载样式*/
.infinite-scroll-preloader {
    text-align: center;
}

.infinite-scroll-preloader .preloader {
    width: 34px;
    height: 34px;
}

/*列表样式*/
.item-inner .item-text {
    color: #000;
    font-size:17px;
    height: auto;
    word-spacing: 30px;
}

.pageCon .item-content .item-link {
    width:100%;
    margin-left: 15px;
    padding-left: 0px;
}



.item-inner .item-time {
    float:right;
    padding: 5px 0;
    color: #8e8e93;
}

.list-block {
    margin: 0px;
}

/*下拉刷新*/
.pull-to-refresh-layer {
    top: -10px;
}

.views .pull-to-refresh-layer .center{
    top: 35px;
}

/*去掉下拉刷新下划线*/
.views .list-block .pageCon::after,.views .list-block .pageCon::before {
    height: 0px;
}


/*上次刷新时间样式*/
/*暂无内容样式*/
.pull-to-refresh-layer .center {
    position: absolute;
    top:30px;
    left:50%;
    transform: translate(-50%,0);
}

.pull-to-refresh-layer .refresh-time {
    display: inline-block;
    font-size: 12px;
}

.tabbar a.tab-link {
    width: 100%;
}



